@media screen and (min-width:673px) {
    .task-container{
        width: 400px!important;
    }
}
@media screen and (max-width: 488px) {
    .task-container {
        padding: 1em!important;
        width:100%!important;
        text-align: left!important;
    }
}
@media screen and (max-width:403px) {
    .task-container h2{
        text-align: center!important;;
    }
}
.task-container{
    margin-top: 2em;
    background-color: white;
    padding: 4em;
    background-color: gray;
    border-radius: 20px;
}
.task-container h2{
    font-size: 48px;
    margin-bottom: 30px;
}

.task-information p{
    font-size: 18px;
    margin-top: 2em;
}
.questions-container{
    border-top: 5px solid white;
    margin-bottom: 2em;
    padding: 0!important;
}
.course{
    margin-bottom: 3em;
}
.questions-container h3{
    font-size:24px
}

.questions-container li {
    display: flex;
    justify-content: left;
    align-items: center;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

input[type="submit"]{
    margin-top: 2em;
    text-align: center;
    font-size: 22px;
    padding: 1em 0 2em 0 ;
}

