@media screen and (max-width:531px){

    #footer,.another-inf,
    .social-medias{
        display: grid!important;
        justify-content: center;
        align-items: center;
    }
    .social-medias{
        display: flex!important;;
        margin-top: 2em;
        justify-content: space-around!important;
        align-items: center;
    
        width: 120%!important;
        height: 50px!important;

    }
    .social-medias img {
        margin: 0!important;
    }
    .site-name{
        margin-top: 2em;
        width: 100%;
    }
    .site-name h1{
        margin-left: 1em;
        text-align: center;
    }
    .author{
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width:531px) {
    .site-name h1{
        font-size: large;
        margin-left:0 ;
    }
}
#footer{
    height: 100px;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
}
#footer img {
    background-color: #fff;
    border-radius: 6px;
    width: 60px;
    height: 60px;
    padding: 5px;
    margin-left: 2em;
}
.author{
    margin-right: 2em;
}