#navbar {
    height: 12vh;
    border-bottom: 1px solid gray;
}

/* Logo e Barra de pesquisa */
.navbar-upperside{
    display: flex;
    margin-top: 25px;
}

.logo{
    align-items: initial;
    margin-right: 20%;
    color: white;
    margin-left: 30px;
}
.logo img {
    background-color: white;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: inline-block;
}
.logo h1 {
    display: inline-block;
    margin: 0;
    padding: .5em;
}

.navbar-upperside form {
    height:50px;
    position: relative;
    width: 25%;
}
.navbar-upperside form img {
    padding-top: .5em;
    top: 5px;
    left: 30px;
    height: 25px;
    width: 25px;
    position: absolute;
}
.navbar-upperside  input {
    width: 440px;
    background-color: white;
    width: 100%;
    padding: 1.5em 3.5em;
    border: none;
    border-radius: 5px;
    
    /* border: none; */
}
.navbar-upperside input {
    color: black;
    margin-left: 20px;
}

/* Navegação Global */

#nav a{
     
    color: black;
    padding: 13px 60px;
    border-radius: 5px;
    margin: 20%;
    text-decoration: none;
    background-color: white;
}