@media screen and  (max-width: 555px){
    .posts-itens{
        width: 70%!important;
        height: auto!important;
    
        padding-left: 2em !important;
        right: 30%!important;
    }
    .posts-itens button {
        width: 35px!important;
        height: 35px!important;
        padding: 0!important;
    }
    .posts-itens h2{
        font-size:15px!important;
    }
}
.posts-itens {
    display: flex;
    margin-top: 2em;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 2em 2em 1em 2em;
    border-radius: 20px;
}
.posts-itens h2{
    color: black;
    text-align: left;
}

.posts-itens button {

    color: black;
    background-color: rgb(177, 176, 176);
    border-radius: 5px;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    padding: 1em;

    cursor: pointer;

    font-size: 3em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts-itens button:hover {
    background-color: rgb(3, 3, 3);
    border: 1px solid black;
    color: white;
}