.task {
    width: 34vh;
    padding: 0 4em 1em 4em;
    border-radius: 10px;
    margin-top: 2em;
}

.task h2 {
    border-bottom: 2px solid white;
}

.task h3,
h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.create-question-container,  .create-task-container{
    border-bottom: 2px solid white;
    margin-bottom: 2em;
}

.input-container,.input-container-alternatives {
    display: grid;
    justify-content: left;
    margin-bottom: 30px;
}

.input-container textarea {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    padding: .5em;
    color: black;
}

 label {
    display: flex;
    justify-content: left;
}

input {
    color: black;
    width: 300px;
    height: 25px;
    border-radius: 5px;
    transition: .5;
    border: 1px solid white
}


.input-container input[type=submit] {
    background-color: green;
}
.input-container-alternatives{
    background-color: rgb(88, 87, 87);
    height: 200px;
    width: 320px;
    padding: 2em;
    padding-bottom: 5em;
    border-radius: 20%;
    margin-bottom: 2em;
}
.checkbox-container {
    margin-top: 1em;
    display: flex;
    justify-content: left;
    align-items: center;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.button-container {
    margin-top: 30px;
    display: flex;
    position: relative;
}



.button-container button {
    margin-left: 2em;
    width: 200px;
    height: 40px;
    color: black;
    background-color: rgb(177, 176, 176);
    border-radius: 5px;

    transition: .5s;
    cursor: pointer;
    
    position:absolute;
    display: flex;
    left: 10%;
    justify-content: center;
    align-items: center;

    
}

.button-container button:hover{
    padding: 2em;
    font-size: medium;
    color: white;
    border-radius: 10px;
    background-color:rgb(3, 3, 3)

}
.submit-button{
    color: black;
    border-color: white;
    background-color: rgb(177, 176, 176);
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    transition: 0.5s;
  }
  .submit-button:hover{
    background-color:rgb(3, 3, 3);
    border:1px solid white;
    color: white;
  }