@media screen and (min-width: 500px) {

    .auth,
.auth *,
.form-container,
.input_container,
.input_container *,
.link,
.link * {
    background-color: gray;
}

.auth {
    margin-top: 40px;
    padding: 0px 30px 30px 30px;
    border-radius: 20px;
    padding-bottom: 15vh!important;
    width: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.auth h1 {
    text-align: center;
    border-bottom: 2px solid white;
}

form {
    background-color: gray;
    position: relative;
}

.input_container {
    margin-top: 4vh;
    display: grid;
}

.input_container label {
    font-size: 0.6cm;
}

.input_container input {
    background-color: white;
    color: black;
    border: none;
    margin-top: 5px;
    height: 25px;
    width: 100%;
    border-radius: 5px;
}

.btn {

    position: absolute;
    margin-top: 0.5em !important;
    top: 102%;
    left: 50%;
    transform: translate(-50%, 0%);

    cursor: pointer;
    font-weight: bold;
    border: none;
}

.link {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh!important;;


}

.link h2 {
    width: 80%;
    margin: 0;
}

.link a {
    text-decoration: none;
    width: 100px;
    color: white;
    margin-left: 20px;
}

.link a:hover {
    color: blue;
    text-decoration: underline;
}
    
}

