.auth, .auth *,.form-container, .input_container, .input_container *,.link , .link *{
    background-color: gray;
    color: white;
}
.auth {
    margin-top: 40px;
    padding: 0px 30px 30px 30px;
    border-radius: 20px;
    width: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.auth h1 {
    text-align: center;
    border-bottom: 2px solid white;
}
form{
    background-color: gray;
    position: relative;
}

.input_container {
    margin-top: 4vh;
    display: grid;
}

.input_container label {
    font-size: 0.6cm;
}

.input_container input {
    background-color: white;
    border: none;
    margin-top: 5px;
    height: 25px;
    border-radius: 5px;
}
.btn{

    position: absolute;
    width: 120px;

    top: 102%;
    left: 50%;
    transform: translate(-50%, 0%);
 
    background-color: #1a8918;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    border:none;
    padding: 10px 15px;
    font-size: 1em;
}
.link{
    margin-top: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}
.link h2{
    width: 100%;
}
.link a{
    text-decoration: none;
    width: 100px;
    color: white;
}
.link a:hover{
    color:blue;
    text-decoration: underline;
}